$mainColor: #ffa500;
$secondColor: #ffffff;
$keyColor:#000000;


//sizing
$w-100:100%;
$w-75:75%;
$w-50:50%;
$w-25:25%;

$paleta:(
    'uno': #ffa500,
    'dos': #000000,
    'tres':#ffffff,
    'cuatro':#808080,
);





